{%extends 'menu.html'%}


{%block content%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    {%load static%}
    <style media="screen">

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;

}
</style>
      div{
        background-color:grey;
      }
    </style>
  </head>
  <body>
    <div class="">

    <h1>MODELO</h1>
    <h3>{{object.modelo}}</h3>
    <h2>PLACA:</h2>
    <h3>{{object.placa}}</h3>
    <h2>Horario de entrada</h2>
    <h3>{{object.in_date}}</h3>
    <h2>ID:</h2>
    <h3>{{object.id}}</h3>
  </div>
  <button type="button" name="button" onclick = "window.location.href = '{%url 'estacionamento:pagamento' object.id %}'">DAR SAÍDA</button>

  </body>
</html>
{%endblock%}
